body {
  font-size: .9em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5b5c5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.2em;
  color: #F06292;
}

h2 {
  font-size: 1.2em;
}

.error {
  color: red;
  margin-top: .5rem;
}

